<%- include('parts/head', {bot, user, path}) %>
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<style>
  h1 {
    color: #fFf;
  }
  .background {
    position: relative;
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>

<!--

Discord partner icon: https://cdn.discordapp.com/emojis/815337272211800064.png
Verified server icon: https://cdn.discordapp.com/emojis/830078587653980161.png
-->
<div class="columns is-multiline is-desktop is-variable is-7 mt-5 pt-5" style="margin-left: 5px;">


  <div class="column is-3 mb-5">    
                <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                  <div>
                    <img draggable="false" onerror="imgError(this);" alt="" src="https://cdn.discordapp.com/attachments/767488047561703474/840547476469448764/YoldasHost_Yuvarlak_Logo_-_Blue__Brush.png" class="is-pulled-left cardvcodesbotIMG z">
                  </div>
                  <div class="is-pulled-right is-inline-block">
                     <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp; OnurYoldas#3437</span><br>
                    <span class="tag is-dark mt-1 w-100"><i class="fad fa-users"></i>&nbsp;Üye Sayısı: +800</span>
                     </div>
                   <br><br><br>
                  <p style="margin-top: 5px;" class="cardvcodesbotName has-text-white mt-5">
                    
                      
                    YoldaşHost <a data-tooltip="Onaylı Partner" data-tooltip-location="top"><img src="https://cdn.discordapp.com/emojis/830078587653980161.png?v=1" style="width:20px"></a>
                    
                </p>   
                  <p style="margin-top: -10px;" class="cardvcodesbotDesc">none </p><br>
                  <center>
                  <div class="cardvcodesbotButtons">
                      <a href="https://discord.gg/Qexg7Nr7qe" target="_blank" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;Katıl</a>
                      <br><br>

                     </div>
                 </center>
                </div>
            </div>
  
  <div class="column is-3 mb-5">    
                <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                  <div>
                    <img draggable="false" onerror="imgError(this);" alt="" src="https://cdn.discordapp.com/attachments/827932568598741032/844615822852096090/gtamagazin.png" class="is-pulled-left cardvcodesbotIMG z">
                  </div>
                  <div class="is-pulled-right is-inline-block">
                     <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp; Eray#3107</span><br>
                    <span class="tag is-dark mt-1 w-100"><i class="fad fa-users"></i>&nbsp;Üye Sayısı: +1000</span>
                     </div>
                   <br><br><br>
                  <p style="margin-top: 5px; text-aling:left;" class="cardvcodesbotName has-text-white mt-5">
                  GTA Magazin <a data-tooltip="Onaylı Partner" data-tooltip-location="top"><img src="https://cdn.discordapp.com/emojis/830078587653980161.png?v=1" style="width:20px"></a>
                  </p>   
                  <p style="margin-top: -10px;" class="cardvcodesbotDesc">Orijinal içeriğiyle Reklam & Tanıtım & Paylaşım & Destek vb. her türlü paylaşımınız için GTA Magazin aktiftir! Siz de bu büyük ve orijinal topluluğun bir parçası olmak istemezmisiniz?</p>
                  <center>
<br><br>
                  <div class="cardvcodesbotButtons"><br><br>
                      <a href="https://discord.gg/KD29y5DD7m" target="_blank" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;Katıl</a>
                      <br><br>

                     </div>
                 </center>
                </div>
            </div>
  
  <div class="column is-3 mb-5">    
              <div style="background-color: #23272a;" class="box cardvcodesbotCard">
                <div>
                  <img draggable="false" onerror="imgError(this);" alt="" src="https://cdn.discordapp.com/attachments/827932568598741032/835568591009087488/florya2.png" class="is-pulled-left cardvcodesbotIMG z">
                </div>
                <div class="is-pulled-right is-inline-block">
                   <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp; xCrypjan#6746</span><br>
                  <span class="tag is-dark mt-1 w-100"><i class="fad fa-users"></i>&nbsp;Üye Sayısı: +100</span>
                   </div>
                 <br><br><br>
                <p style="margin-top: 5px; text-aling:left;" class="cardvcodesbotName has-text-white mt-5">
                FloryaHost <a data-tooltip="Onaylı Partner" data-tooltip-location="top"><img src="https://cdn.discordapp.com/emojis/830078587653980161.png?v=1" style="width:20px"></a>
                </p>   
                <p style="margin-top: -10px;" class="cardvcodesbotDesc">Uygun Fiyatlı Tam Korumalı Sanal Sunucular</p>
                <center>
<br><br>
                <div class="cardvcodesbotButtons"><br><br>
                    <a href="https://discord.gg/fpZN6DQ5Q2" target="_blank" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;Katıl</a>
                    <br><br>

                   </div>
               </center>
              </div>
          </div>
  <div class="column is-3 mb-5">    
            <div style="background-color: #23272a;" class="box cardvcodesbotCard">
              <div>
                <img draggable="false" onerror="imgError(this);" alt="" src="https://cdn.discordapp.com/attachments/827932568598741032/848853411201548288/gliotbotlistsari.png" class="is-pulled-left cardvcodesbotIMG z">
              </div>
              <div class="is-pulled-right is-inline-block">
                 <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp; xCrypjan#6746</span><br>
                <span class="tag is-dark mt-1 w-100"><i class="fad fa-users"></i>&nbsp;Üye Sayısı: 0</span>
                 </div>
               <br><br><br>
              <p style="margin-top: 5px; text-aling:left;" class="cardvcodesbotName has-text-white mt-5">
              Satılık <a data-tooltip="Onaylı Partner" data-tooltip-location="top"><img src="https://cdn.discordapp.com/emojis/830078587653980161.png?v=1" style="width:20px"></a>
              </p>   
              <p style="margin-top: -10px;" class="cardvcodesbotDesc">Satılık</p>
              <center>
<br><br>
              <div class="cardvcodesbotButtons"><br><br>
                  <a href="https://gliotbotlist.cf" target="_blank" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;Katıl</a>
                  <br><br>

                 </div>
             </center>
            </div>
        </div>
  <div class="column is-3 mb-5">    
          <div style="background-color: #23272a;" class="box cardvcodesbotCard">
            <div>
              <img draggable="false" onerror="imgError(this);" alt="" src="https://cdn.discordapp.com/attachments/827932568598741032/848853411201548288/gliotbotlistsari.png" class="is-pulled-left cardvcodesbotIMG z">
            </div>
            <div class="is-pulled-right is-inline-block">
               <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp; xCrypjan#6746</span><br>
              <span class="tag is-dark mt-1 w-100"><i class="fad fa-users"></i>&nbsp;Üye Sayısı: 0</span>
               </div>
             <br><br><br>
            <p style="margin-top: 5px; text-aling:left;" class="cardvcodesbotName has-text-white mt-5">
            Satılık <a data-tooltip="Onaylı Partner" data-tooltip-location="top"><img src="https://cdn.discordapp.com/emojis/830078587653980161.png?v=1" style="width:20px"></a>
            </p>   
            <p style="margin-top: -10px;" class="cardvcodesbotDesc">Satılık</p>
            <center>
  <br><br>
            <div class="cardvcodesbotButtons"><br><br>
                <a href="https://gliotbotlist.cf" target="_blank" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;Katıl</a>
                <br><br>
  
               </div>
           </center>
          </div>
      </div>  
  <div class="column is-3 mb-5">    
        <div style="background-color: #23272a;" class="box cardvcodesbotCard">
          <div>
            <img draggable="false" onerror="imgError(this);" alt="" src="https://cdn.discordapp.com/attachments/827932568598741032/848853411201548288/gliotbotlistsari.png" class="is-pulled-left cardvcodesbotIMG z">
          </div>
          <div class="is-pulled-right is-inline-block">
             <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp; xCrypjan#6746</span><br>
            <span class="tag is-dark mt-1 w-100"><i class="fad fa-users"></i>&nbsp;Üye Sayısı: 0</span>
             </div>
           <br><br><br>
          <p style="margin-top: 5px; text-aling:left;" class="cardvcodesbotName has-text-white mt-5">
          Satılık <a data-tooltip="Onaylı Partner" data-tooltip-location="top"><img src="https://cdn.discordapp.com/emojis/830078587653980161.png?v=1" style="width:20px"></a>
          </p>   
          <p style="margin-top: -10px;" class="cardvcodesbotDesc">Satılık</p>
          <center>
<br><br>
          <div class="cardvcodesbotButtons"><br><br>
              <a href="https://gliotbotlist.cf" target="_blank" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;Katıl</a>
              <br><br>

             </div>
         </center>
        </div>
    </div> 
  <div class="column is-3 mb-5">    
      <div style="background-color: #23272a;" class="box cardvcodesbotCard">
        <div>
          <img draggable="false" onerror="imgError(this);" alt="" src="https://cdn.discordapp.com/attachments/827932568598741032/848853411201548288/gliotbotlistsari.png" class="is-pulled-left cardvcodesbotIMG z">
        </div>
        <div class="is-pulled-right is-inline-block">
           <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp; xCrypjan#6746</span><br>
          <span class="tag is-dark mt-1 w-100"><i class="fad fa-users"></i>&nbsp;Üye Sayısı: 0</span>
           </div>
         <br><br><br>
        <p style="margin-top: 5px; text-aling:left;" class="cardvcodesbotName has-text-white mt-5">
        Satılık <a data-tooltip="Onaylı Partner" data-tooltip-location="top"><img src="https://cdn.discordapp.com/emojis/830078587653980161.png?v=1" style="width:20px"></a>
        </p>   
        <p style="margin-top: -10px;" class="cardvcodesbotDesc">Satılık</p>
        <center>
<br><br>
        <div class="cardvcodesbotButtons"><br><br>
            <a href="https://gliotbotlist.cf" target="_blank" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;Katıl</a>
            <br><br>

           </div>
       </center>
      </div>
  </div>    
  
  <div class="column is-3 mb-5">    
    <div style="background-color: #23272a;" class="box cardvcodesbotCard">
      <div>
        <img draggable="false" onerror="imgError(this);" alt="" src="https://cdn.discordapp.com/attachments/827932568598741032/848853411201548288/gliotbotlistsari.png" class="is-pulled-left cardvcodesbotIMG z">
      </div>
      <div class="is-pulled-right is-inline-block">
         <span class="tag is-dark mt-1 w-100"><i class="fad fa-user-crown"></i>&nbsp; xCrypjan#6746</span><br>
        <span class="tag is-dark mt-1 w-100"><i class="fad fa-users"></i>&nbsp;Üye Sayısı: 0</span>
         </div>
       <br><br><br>
      <p style="margin-top: 5px; text-aling:left;" class="cardvcodesbotName has-text-white mt-5">
      Satılık <a data-tooltip="Onaylı Partner" data-tooltip-location="top"><img src="https://cdn.discordapp.com/emojis/830078587653980161.png?v=1" style="width:20px"></a>
      </p>   
      <p style="margin-top: -10px;" class="cardvcodesbotDesc">Satılık</p>
      <center>
<br><br>
      <div class="cardvcodesbotButtons"><br><br>
          <a href="https://gliotbotlist.cf" target="_blank" class="btn btn-card"><i class="fad fa-eye"></i>&nbsp;Katıl</a>
          <br><br>

         </div>
     </center>
    </div>
</div> 

  
  </center>
         </div>
<br><br><br><br>
<%- include('parts/foot') %>